<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
    <form method="POST" action="/">
      <div>
        <label for="name">氏名：</label>
        <input type="text" name="name" value=""/>
      </div>
      <div>
        <label for="age">年齢：</label>
        <input type="text" name="age" value=""/>
      </div>
      <div>
        <input type="radio" name="gender" value="Male"> 男
        <input type="radio" name="gender" value="Female" checked> 女
      </div>
      <div>
        <label for="tel">電話：</label>
        <input type="text" name="tel" value="" />
      </div>
      <div>
        <label for="zipcode">郵便番号：</label>
        <input type="text" name="zipcode" value=""/>
      </div>
      <div>
        <label for="address">住所：</label>
        <input type="text" name="address" value=""/>
      </div>
      <div>
        <input type="submit" value="確認" />
      </div>
    </form>
<!--友達一覧-->
<div id="contacts">
  <table>
    <!--繰り返して表示-->
    <% for(var i in data) { %>
      <% var obj = data[i]; %>
        <tr>
          <td><%= obj.name    %></td>
          <td><%= obj.age     %></td>
          <td><%= obj.gender  %></td>
          <td><%= obj.tel     %></td>
          <td><%= obj.zipcode %></td>
          <td><%= obj.address %></td>
        </tr>
    <% } %>
  </table>
 </div>
</body>
</html>
